/pavpavelez11-MiprimerProyecto/nbproject/private/
/pavpavelez11-MiprimerProyecto/build/
/pavpavelez11-MiprimerProyecto/progyecto01/nbproject/private/
/pavpavelez11-MiprimerProyecto/proyecto 1 pablo/nbproject/private/
/pavpavelez11-MiprimerProyecto/proyecto 1 pablo/build/
